force-app/main/default/flows/Case_Status_Manage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>case_Status_Assign_Closed</name>
        <label>case Status Assign Closed</label>
        <locationX>407</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_assign_Pendding</name>
        <label>Status assign Pendding</label>
        <locationX>91</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_To_Update_1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Update_1</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Case_To_Update_Verif</name>
        <label>Case To Update Verif</label>
        <locationX>401</locationX>
        <locationY>563</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>existing_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseToUpdate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>case_Status_Assign_Closed</targetReference>
            </connector>
            <label>existing Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskRecordVerif</name>
        <label>TaskRecordVerif</label>
        <locationX>256</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Get_Case_To_Update_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStoreTaskRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_To_Update</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <interviewLabel>Case Status Manage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Status Manage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_To_Update</name>
        <label>Get Case To Update</label>
        <locationX>402</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_To_Update_Verif</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCaseToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_To_Update_1</name>
        <label>Get Case To Update 1</label>
        <locationX>107</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_assign_Pendding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record</name>
        <label>Get Task Record</label>
        <locationX>256</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TaskRecordVerif</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varStoreTaskRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Case_Update</name>
        <label>Case Update</label>
        <locationX>403</locationX>
        <locationY>851</locationY>
        <inputReference>varCaseToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Update_1</name>
        <label>Case Update 1</label>
        <locationX>94</locationX>
        <locationY>844</locationY>
        <inputReference>Get_Case_To_Update_1</inputReference>
    </recordUpdates>
    <start>
        <locationX>258</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Get_Task_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Complated</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varStoreTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTaskLoop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
