force-app/main/default/flows/Flow_EIP_Cases_Manage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>testEmail</name>
        <label>testEmail</label>
        <locationX>587</locationX>
        <locationY>51</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>adjodjo@clecapital.ca</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>loopTask.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Get_From_EIP_Case_Records.Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Task_To_Update</name>
        <label>Add Task To Update</label>
        <locationX>930</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>var_Task_Completed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Task_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Task</name>
        <label>Assign Status Task</label>
        <locationX>931</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>loopTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_To_Update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>varCaseOwnerStartWith</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G</stringValue>
        </value>
    </constants>
    <constants>
        <name>varEIPOrigin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EIP</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Task_Status</name>
        <label>Check Task Status</label>
        <locationX>730</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>testEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopTask.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Task</targetReference>
            </connector>
            <label>is not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manage_Case_and_Task</name>
        <label>Manage Case and Task</label>
        <locationX>413</locationX>
        <locationY>365</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>create_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Related_To_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_From_EIP_Case_Records.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_EIP_Case_Task</targetReference>
            </connector>
            <label>create Task</label>
        </rules>
        <rules>
            <name>completed_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Related_To_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_From_EIP_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Task_collection</targetReference>
            </connector>
            <label>completed Task</label>
        </rules>
    </decisions>
    <description>Manage Case created from EIP Exceptions</description>
    <interviewLabel>Flow EIP Cases Manage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow EIP Cases Manage</label>
    <loops>
        <name>Loop_Task_collection</name>
        <label>Loop Task collection</label>
        <locationX>625</locationX>
        <locationY>357</locationY>
        <assignNextValueToReference>loopTask</assignNextValueToReference>
        <collectionReference>var_Task_Related_To_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Task_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Task_To_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_EIP_Case_Task</name>
        <label>Create New EIP Case Task</label>
        <locationX>424</locationX>
        <locationY>94</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Get_From_EIP_Case_Records.Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_From_EIP_Case_Records.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_From_EIP_Case_Records.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_From_EIP_Case_Records</name>
        <label>Get From EIP Case Records</label>
        <locationX>133</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Related_To_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Request_Type__c</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Requested_By__c</queriedFields>
        <queriedFields>SuppliedEmail</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Expiry_Date__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Related_To_Case</name>
        <label>Get Task Related To Case</label>
        <locationX>278</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Case_and_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>var_Task_Related_To_Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WhatId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_To_Completed</name>
        <label>Update Task To Completed</label>
        <locationX>1042</locationX>
        <locationY>374</locationY>
        <inputReference>var_Task_Completed</inputReference>
    </recordUpdates>
    <start>
        <locationX>10</locationX>
        <locationY>363</locationY>
        <connector>
            <targetReference>Get_From_EIP_Case_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountManagerCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Task_Completed</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Task_Related_To_Case</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varAMUserInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>webEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
