force-app/main/default/flows/Flow_Cases_Manage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_DC</name>
        <label>Send Email To DC</label>
        <locationX>1887</locationX>
        <locationY>737</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Task_subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_DC_User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Count_Element</name>
        <label>Count Element</label>
        <locationX>1679</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>num1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelatedAccId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccCaseLoop.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccCaseLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SAC_Case_Assign</name>
        <label>SAC Case Assign</label>
        <locationX>1070</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>Get_Email_To_Case_Records.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContLoop.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Email_To_Case_Records.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_For_Account</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>num1</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Exist</name>
        <label>Account Exist</label>
        <locationX>1195</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_DC_User</targetReference>
            </connector>
            <label>Account Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Account_On_Case</name>
        <label>Existing Account On Case</label>
        <locationX>1511</locationX>
        <locationY>592</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_To_Case_Records.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Info</targetReference>
            </connector>
            <label>Yes Account Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Contact_with_email</name>
        <label>Existing Contact with email</label>
        <locationX>841</locationX>
        <locationY>475</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContLoop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAC_Case_Assign</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContLoop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Task</name>
        <label>Existing Task ?</label>
        <locationX>1523</locationX>
        <locationY>390</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO_Task_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingTask1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Account_Case</targetReference>
            </connector>
            <label>NO Task 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>isActive_Decision</name>
        <label>isActive Decision</label>
        <locationX>1601</locationX>
        <locationY>744</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isActive_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DC_User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>isActive user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Case_For_Account</name>
        <label>Number of Case For Account</label>
        <locationX>1674</locationX>
        <locationY>561</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>number_5</name>
            <conditionLogic>1 AND NOT ( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>vCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_To_Case_Records.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varClecapital</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_To_Case_Records.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varHitachi</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Account_On_Case</targetReference>
            </connector>
            <label>number = 5</label>
        </rules>
    </decisions>
    <formulas>
        <name>Task_Description</name>
        <dataType>String</dataType>
        <expression>&apos;Please pay attention to the Account &apos;+ {!varAccount.Name}+ &apos; ( &apos;+ {!varAccount.Nom_Usuel__c} + &apos; ). This account have more than 3 requests in our Case management system.  &apos;+ &apos;To get account information, follow the link     https://hccc.lightning.force.com/lightning/r/Account/&apos;+ {!varAccount.Id}+&apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>Task_subject</name>
        <dataType>String</dataType>
        <expression>&apos;Please Take care of this Account &apos; +  {!varAccount.Name}  + &apos;( &apos;+ {!varAccount.Nom_Usuel__c} + &apos; )&apos;</expression>
    </formulas>
    <interviewLabel>Flow Cases Manage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Cases Manage</label>
    <loops>
        <name>Loop_Account_Case</name>
        <label>Loop Account Case</label>
        <locationX>1694</locationX>
        <locationY>382</locationY>
        <assignNextValueToReference>varAccCaseLoop</assignNextValueToReference>
        <collectionReference>varRelatedCaseAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Element</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Number_of_Case_For_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1759</locationX>
        <locationY>737</locationY>
        <assignRecordIdToReference>varTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Send_Email_To_DC</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_DC_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Task_subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>1351</locationX>
        <locationY>624</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Email_To_Case_Records.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Nom_Usuel__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_For_Account</name>
        <label>Get Case For Account</label>
        <locationX>1216</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Update_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContLoop.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varRelatedCaseAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_DC_User</name>
        <label>Get DC User</label>
        <locationX>1489</locationX>
        <locationY>742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isActive_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_To_Case_Records</name>
        <label>Get Email To Case Records</label>
        <locationX>469</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Request_Type__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Requested_By__c</queriedFields>
        <queriedFields>SuppliedEmail</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Task_1</name>
        <label>Get Existing Task 1</label>
        <locationX>1424</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varExistingTask1</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>601</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Contact_with_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Permanent__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>webEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContLoop</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Case_Update_1</name>
        <label>Case Update 1</label>
        <locationX>1317</locationX>
        <locationY>389</locationY>
        <connector>
            <targetReference>Get_Existing_Task_1</targetReference>
        </connector>
        <inputReference>Get_Email_To_Case_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>94</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference>Get_Email_To_Case_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccCaseLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClecapital</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>clecapital</stringValue>
        </value>
    </variables>
    <variables>
        <name>varContLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varExistingTask1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varHitachi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>hitachi</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRelatedAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRelatedCaseAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>webEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
